DATABASE_URL=postgres://localhost:5432/mortar
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:3000/auth/discord/callback
APP_URL=http://localhost:5173
PORT=3000
